<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>PORTFOLIO</title>  
  <link rel="stylesheet" href="{{ url_for('static', filename= 'main.d8e0d294.css') }}">
</head>

<body class="">

<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url('./static/assets/images/img-00.jpg')"
></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>I am Purvesh Patel</h1>
      <p>Software Engineer</p>
      <p>
        <a class="fa-icon fa-icon-2x" href="https://www.facebook.com/purvesh.patel.423" title="">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://twitter.com/home" title="">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="tel:+6478681512" title="">
          <i class="fa fa-phone"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://github.com/PurveshP0406" title="">
          <i class="fa fa-github"></i>
        </a>
        
        <a class="fa-icon fa-icon-2x" href="mailto:patel5m3@uwindsor.ca" title="">
          <i class="fa fa-envelope"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/purvesh-patel-876805150/" title="">
          <i class="fa fa-linkedin"></i>
        </a>
        
        
      </p>
    </div>
  </header>

        <div class="card">
          <div class="card-block">
            <h2>Hello</h2>
            <form action="submitform_bro" method="post" class="reveal-content">
            Thank You! 
           
            I will get back to you very shortly! 
            </form>
          </div>
        </div>
       

</main>
<footer class="footer-container white-text-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p><img src="./static/assets/images/Web_Coding_Icon_64.png" alt=""></p>
          
          <p>©2021-2022. Made with 🖤 by  </a><a href="https://www.linkedin.com/in/purvesh-patel-876805150/" title=""> Purvesh Patel </a></p>
          <p>
            <a class="fa-icon fa-icon-2x" href="tel:+6478681512" title="">
              <i class="fa fa-phone"></i>
              <a class="fa-icon fa-icon-2x" href="mailto:patel5m3@uwindsor.ca" title="">
                <i class="fa fa-envelope"></i>
  
            </a>
           
          </p>
        </div>
      </div>
    </div>
  </footer>
  
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
</script>

<script type="text/javascript" src="./static/main.bc58148c.js"></script></body>



</body>
</html>